@import "./global/reset-styles";
@import "./global/global-styles";
@import "./hidden/hidden";
@import "./share-common-styles/share-common-styles";
@import "./header/header";
@import "./start-display/start-display";
@import "./counter/counter";
@import "./continue-game/continue-game";
@import "./canvas/canvas";
@import "./info-game/info-game";
@import "./scores/scores";
@import "./buttons/buttons";
@import "./footer/footer";

// @import "./landscape/landscape";

.main__canvas-and-info-game-container {
	position: relative;
}

.main__broken-heart {
	position: absolute;
	left: calc(50% - 2.746rem);
	top: calc(50% - 10.2rem);
	display: inline-block;
	font-size: 4rem;
	line-height: normal;
	opacity: 0;
}

.main__broken-heart--animate {
	opacity: 1;
	animation: text-blur-out 450ms cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@keyframes text-blur-out {
	0% { filter: blur(0.01); }
	100% { filter: blur(1.2rem) opacity(0); }
}

@media (prefers-color-scheme: dark) {
	/* stylelint-disable-next-line no-invalid-position-at-import-rule */
	@import "./dark/dark";
}

@media (prefers-reduced-motion: reduce) {
	/* stylelint-disable-next-line no-invalid-position-at-import-rule */
	@import "./no-animation/no-animation";
}
