@import "./normalize";

* {
	padding: 0;
	border: 0;
	margin: 0;
	box-sizing: border-box;
	outline: none;
	vertical-align: baseline;
}

html {
	scroll-behavior: smooth;
	height: fill-available;
}

// Opcional
body {
	display: flex; // Opcional
	flex-direction: column; // Opcional
	justify-content: center; // Opcional
	height: fill-available; // Opcional
	// height: 100vh; // Opcional
	// min-height: 100vh; // Opcional
}

/* Evitamos problemas con las imágenes */
img,
picture,
video,
iframe,
figure {
	display: block;
	width: 100%;
	max-width: 100%;

	// /* opcional */ object-fit: cover;
	// /* opcional */ object-position: center center;
}

/* Evitamos problemas con los SVG */
svg {
	display: block;
	width: 100%;
	fill: currentcolor;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
	display: block;
	text-decoration: none;
}

/* ... excepto los que se encuentran en párrafos */
p a {
	display: inline;
}

/* Quitamos los puntos de los <li> */
li {
	list-style-type: none;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
strong,
blockquote,
i,
b,
u,
em {
	text-decoration: none;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote::before,
blockquote::after,
q::before,
q::after {
	content: "";
	content: none;
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form,
input,
textarea,
select,
button,
label {
	display: block;
	hyphens: auto;

	//   /* opcional */ appearance: none;
}

/* Reseteamos las tablas */
table,
tr,
td {
	border-collapse: collapse;
	border-spacing: 0;
}
