.main__counter-container {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background: linear-gradient(163.96deg, $white 3.26%, rgb(95 97 100 / 10%) 95.59%);
	text-align: center;
	backdrop-filter: blur(20px);
	transition-duration: 400ms;
}

.main__counter {
	padding-block: 3rem;
	padding-inline: 3rem;
	border-radius: 2rem;
	background-color: $white;
	font-size: $font-x-large;
	font-weight: bold;
}
