.main__game-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding-block: 0.2rem 0.7rem;
	padding-inline: 0.7rem 0.2rem;
	box-sizing: border-box;
	border-radius: 2rem;
	background-color: $greyish-white;
	box-shadow: 0 0.6rem 1rem rgb(29 29 30 / 50%); // color: $black
}
