.continue-game__button {
	@include font-medium;

	width: 7.3rem;
	height: 4.85rem;
	border-radius: 2rem;
	background-color: $cream-grey;
	font-weight: bold;
	color: $white;

	&:active {
		border: 0.2rem solid $cream-grey;
		background-color: $white;
		color: $cream-grey;
	}
}

.scores-container__button {
	@include font-medium;

	padding-block: 2rem;
	padding-inline: 1.6rem;
	border: 0.2rem solid $cream-grey;
	border-radius: 2rem;
	margin-block-start: 1.6rem;
	background-color: $cream-grey;
	font-weight: bold;
	color: $white;

	&:active {
		background-color: $white;
		color: $cream-grey;
	}
}

.button {
	border-radius: 2rem;
	background-color: $cream-grey;
	font-size: $font-x-large;
	color: $white;

	&:active {
		border: 0.4rem solid $cream-grey;
		background-color: $white;
		color: $black;
	}
}

.button.main__button-left {
	grid-area: left;
}

.button.main__button-up {
	grid-area: up;
}

.button.main__button-right {
	grid-area: right;
}

.button.main__button-down {
	grid-area: down;
}

.main__buttons-container {
	display: grid;
	gap: 0.4rem;
	grid-template:
		". up ."
		"left down right";
	grid-template-columns: repeat(3, 7.2rem);
	grid-template-rows: repeat(2, 6.6rem);
	place-content: center;
}
