body {
	background-color: $black;
}

.main__start-display,
.main__counter-container,
.main__game-instructions {
	background: linear-gradient(163.96deg, rgb(95 97 100 / 40%) 3.26%, rgb(95 97 100 / 10%) 95.59%);
	color: $white;
}

.start-display__button-start,
.game-instructions__button {
	background-color: $grey;

	&:active {
		background-color: $white;
		color: $black;
	}
}

.scores-container__scores {
	background-color: $grey;
	box-shadow: 0 0.6rem 1rem rgb(245 245 245 / 50%);
	color: $white;
}

.scores-container__new-record {
	background-color: $grey;
	color: $white;
	box-shadow: 0 0.6rem 1rem rgb(245 245 245 / 50%);
}

.scores-container__title {
	border-color: $white;
}

.main__continue-game {
	background-color: $cream-grey;
	color: $white;
	box-shadow: 0 0.6rem 1rem rgb(245 245 245 / 50%); // color: $white
}

.continue-game__button {
	background-color: $grey;

	&:active {
		background-color: $white;
		color: $grey;
	}
}

.main__game-container {
	background-color: $grey;

	// color $white
	box-shadow: 0 0.6rem 1rem rgb(245 245 245 / 50%);
}

.main__counter-levels {
	background-color: $white;
	color: $grey;
}

.button {
	background-color: $white;
	color: $black;

	&:active {
		border: none;
		background-color: $cream-grey;
		color: $white;
	}
}

.main__counter {
	background-color: $grey;
}

.info-game__data {
	color: $white;
}

.info-game__life {
	background-color: $green;
}

.info-game__time {
	background-color: $blue;
}

.info-game__record {
	background-color: $orange;
}

.only-portrait-message {
	color: $white;
}
