.start-display__text {
	font-weight: bold;
}

.start-display__title {
	margin-block: 0;
}

.start-display__subtitle {
	max-width: 25.2rem;
	margin-block: 2.4rem;
}

.start-display__button-start {
	padding-block: 2rem;
	padding-inline: 5rem;
	border-radius: 2rem;
	background-color: $white;
	font-size: $font-large;
	font-weight: bold;

	&:active {
		background-color: $grey;
		color: $white;
	}
}
